{:tier :glm-5.2, :verse 6, :comments ["<b>De los que me aman.</b> Estos son los devotos." "<b>Y de los que guardan mis mandamientos.</b> Estos son los justos."], :book "exodus", :voice :chizkuni, :lang :es, :chapter 20, :timestamp "2026-07-30T19:42:32.964885918Z", :translated-from :en, :model "glm-5.2"}